# ===== 工作区（分别对应 YLR1D_Controller / YLR1D_Controller_SDK 仓库，此处仅文档标注）=====
ros2_ylr1d_controller_ws/
YLR1D_ROS2/

# ===== 厂家原始资料（A.1，处理前内容见百度网盘）=====
TR-RD28&&YL-R1D - 副本/
TR-RD28&&YL-R1D - 开发资料\01_STEP模型处理\模型文件


# ===== 系统与编辑器杂项 =====
Thumbs.db
.DS_Store
desktop.ini
*.tmp
~$*
note