build
install
log

src/models/fishbot_base.urdf

colcon_build.bash

ylr1d
_copy
*_copy
YLR1D

Robot
YLR1D_Model


config
docs

src
*.rviz
backup
.claude
.vscode

test_run

# Python
__pycache__/
*.pyc


传感器默认配置.txt
sensors.yaml
tmp_test_sensors.yaml